<mat-dialog-content>
    <article>
        <p>Greetings!</p>
        <p>This app implements complete CRUD from front-end to back-end and was developed using Angular 5 for the client-side framework, Angular Materials 2 for the UI components, and Firebase for the backend, on Nov. 27, 2017. May this serve as a portfolio
            showcasing my abilities to design and develop web applications.</p>
        <p>Please feel free to try and test this app. More features will be added. You can see the list of records, add new ones, and edit or delete existing ones (with Undo for the most recent deletion). </p>
        <p>In this app, users immediately see changes by other users. Changes in records happen in real-time.</p>
        <p>I've been developing web applications since 1998, using HTML, CSS, Javascript, Java, and other related technologies.</p>
        <p><a href="https://tanny-del-rosario-resume.firebaseapp.com/" target="_blank">Here</a> is my resume.</p>
        <p><a href="mailto:delrosariotanny@gmail.com?Subject=Hey Tanny. Just saw your app.">Please send me email</a> if you are interested to get in touch with me.</p>
        <p>Many thanks,</p>
        <p>Tanny del Rosario.</p>
        <footer>
            <p>To see this message again, click the About button.</p>
        </footer>
    </article>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-fab mat-dialog-close>Close</button>
</mat-dialog-actions>