<mat-card>
    <article>
        <div>
            <section>
                <mat-card-title>Personal Data</mat-card-title>
                <div class="personal-data">
                    <div><label>Firstname: </label><span>{{employee.name.firstname}}</span></div>
                    <div><label>Lastname: </label><span>{{employee.name.lastname}}</span></div>
                    <div><label>Birthday: </label><span>{{employee.birthday}}</span></div>
                    <div><label>Gender: </label><span>{{employee.gender}}</span></div>
                    <div><label>Civil Status: </label><span>{{employee.civilStatus}}</span></div>
                </div>
            </section>
            <section>
                <mat-card-title>Contact Info</mat-card-title>
                <div class="contact-info">
                    <div><label>eMail: </label><span>{{employee.email}}</span></div>
                    <div><label>cel/Tel #: </label><span>{{employee.tel}}</span></div>
                    <div><label>Address: </label><span>{{employee.address.address}}</span></div>
                    <div><label>Country: </label><span>{{employee.address.country}}</span></div>
                    <div><label>State: </label><span>{{employee.address.state.name}}</span></div>
                    <div><label>City: </label><span>{{employee.address.city}}</span></div>
                    <div><label>Postal Code: </label><span>{{employee.address.postalCode}}</span></div>
                </div>
            </section>
            <section>
                <mat-card-title>Employment Data</mat-card-title>
                <div class="employment-data">
                    <div>
                        <div><label>Position: </label><span>{{employee.position}}</span></div>
                        <div><label>Office: </label><span>{{employee.office}}</span></div>
                        <div><label>Salary: </label><span>{{employee.salary}}</span></div>
                        <div><label>Hire Date: </label><span>{{employee.hireDate}}</span></div>
                    </div>
                    <div>
                        <div><label>{{PreferenceText.travel}}</label><span>{{employee.preferences.travel ? 'Yes' : 'No'}}</span></div>
                        <div><label>{{PreferenceText.nightshift}}</label><span>{{employee.preferences.nightshift ? 'Yes' : 'No'}}</span></div>
                        <div><label>{{PreferenceText.wokrAtHome}}</label><span>{{employee.preferences.workAtHome ? 'Yes' : 'No'}}</span></div>
                        <div><label>{{PreferenceText.stockOption}}</label><span>{{employee.preferences.stockOption ? 'Yes' : 'No'}}</span></div>
                    </div>
                </div>
                <div><label>Skills: </label><span>{{flatSkills}}</span></div>
            </section>
        </div>
    </article>
    <mat-card-footer>
        <mat-card-actions>
            <button mat-fab (click)="edit()"><mat-icon>edit</mat-icon></button>
            <button mat-fab color="warn" (click)="confirmDelete()"><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>