<!--The content below is only a placeholder and can be replaced.-->
<header>
    <mat-toolbar color="primary"><i class="material-icons">people</i>{{title}}</mat-toolbar>
</header>
<main>
    <!-- <h1>
        {{title}}
    </h1> -->
    <app-employees></app-employees>
</main>
<!-- <footer>
    <article>
        <p>This app implements complete CRUD from front-end to back-end and was developed using Angular 5 for the client-side framework, Angular Materials 2 for the UI components, and Firebase for the backend, on Nov. 27, 2017. May this serve as a portfolio
            showcasing my abilities to design and develop web applications.</p>
        <p>Please feel free to try and test this app. More features will be added whenever I have time.</p>
        <p>I've been writing web applications since 1998, using HTML, CSS, Javascript, Java EE, and other related technologies.</p>
        <p><a href="mailto:delrosariotanny@gmail.com?Subject=Hey Tanny. Just saw your app.">Please send me email</a> if you are interested to get in touch with me.</p>
        <p>Many thanks,</p>
        <p>Tanny del Rosario.</p>
    </article>
</footer> -->