<mat-form-field class="example-full-width">
    <mat-select placeholder="Country" [formControl]="countryControl" (selectionChange)="emitSelection()" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let country of countries" [value]="country">
            {{country.name}}
        </mat-option>
    </mat-select>
    <mat-error *ngIf="countryControl.hasError('required')">Please choose a country</mat-error>
    <mat-hint>States will be enabled after you select</mat-hint>
</mat-form-field>