div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

label {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.example-radio-button {
    margin: 5px;
}

.example-selected-value {
    margin: 15px 0;
}