/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
* {
    box-sizing: border-box;
}

html,
body,
main {
    height: 100%;
}

body {
    /* background-color: darkcyan; */
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-about-dialog .mat-dialog-content p {
    text-align: left;
}

.mat-toolbar {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.mat-form-field-wrapper {
    margin-bottom: 2.5em;
}

legend {
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
}

app-birthday-field .mat-form-field-wrapper {
    margin-bottom: 2.5em;
}

.example-radio-button {
    margin: 5px;
}

app-gender-field .mat-error,
app-civil-status-field .mat-error {
    font-size: 75%;
}

app-skills-field .mat-form-field {
    display: block;
}

app-employee mat-card.mat-card {
    /* max-width: 412.8px; */
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    min-width: 208px;
    max-width: 500px;
}

app-employee mat-card article {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 364.8px;
}

app-employee-summary section {
    margin-bottom: 25px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

app-employee-summary .mat-card-title {
    text-align: center;
}

app-employee-summary .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
    background-color: plum;
}

app-employee-list .mat-table-container {
    max-width: 800px;
    /* background-color: cadetblue; */
    position: relative;
}

mat-card-actions.mat-card-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

app-gender-field {
    display: inline-block;
}

.civil-status mat-radio-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 60px;
}

.gender,
.civil-status {
    margin-bottom: 2.5em;
}

.preferences {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 50px;
}

.mat-expansion-panel-header-description {
    justify-content: flex-end;
}

app-employee-summary article>div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

app-employee-summary span {
    font-size: 16px;
}

app-employee-summary label {
    color: rgba(0, 0, 0, .54);
    display: block;
}

.mat-dialog-content p {
    text-align: center;
}


/* Structure */

.mat-table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin: auto;
}

.mat-table-header {
    min-height: 64px;
    padding: 8px 24px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.mat-table-header .mat-form-field {
    font-size: 14px;
    /* width: 100%; */
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.mat-dialog-actions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mat-dialog-container {
    margin: auto;
    width: 80vh;
}

.employment-data {
    display: inline-flex;
    justify-content: space-between;
    /* margin: auto; */
    flex-wrap: wrap;
}


/* app-root main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} */


/* app-root footer {
    color: ccc;
    margin-bottom: 60px;
} */

.example-fab.mat-fab {
    position: absolute;
    z-index: 1000;
    right: 20px;
    bottom: 10px;
    opacity: 0.9;
}

@media screen and (max-width: 556px) {
    html,
    body,
    main {
        height: inherit;
    }
    mat-form-field.mat-form-field {
        display: block;
    }
    .civil-status mat-radio-group {
        height: 150px;
    }
    .preferences {
        height: 96px;
    }
    app-employee-list mat-expansion-panel-header.mat-expansion-panel-header {
        padding: inherit;
    }
    app-employee-list .mat-expansion-panel-body {
        padding: inherit;
    }
}

@media screen and (max-width: 442px) {
    .mat-table-header .mat-button,
    .mat-table-header .mat-form-field {
        flex-grow: 1;
    }
}