/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
app-employees {
    display: flex;
    justify-content: space-around;
}

article {
    width: 40%;
}

form {
    display: flex;
    flex-direction: column;
}