<mat-form-field>
    <input matInput placeholder="Office" aria-label="Office" [matAutocomplete]="auto" [formControl]="officeControl">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let office of filteredOffices | async" [value]="office.name">
            <img style="vertical-align:middle;" aria-hidden src="{{office.flag}}" height="25" />
            <span>{{ office.name }}</span> |
            <small>State: {{office.state}}</small>
        </mat-option>
    </mat-autocomplete>
    <mat-hint>Please choose or enter you office</mat-hint>
    <mat-error>Office is <strong>required</strong></mat-error>
</mat-form-field>