app-date-picker .mat-form-field-infix {
    width: 156px;
}

app-date-picker .mat-icon-button {
    transform: scale(2, 2);
    transform-origin: right bottom;
}

app-date-picker input[type="date"] {
    outline: none;
    width: 8em;
}

app-date-picker input[type="date"]::-webkit-clear-button {
    /* font-size: 30px;
    height: 30px;
    position: relative; */
    display: none;
}

app-date-picker input[type="date"]::-webkit-inner-spin-button {
    /* height: 50px;
    width: 50px; */
}

app-date-picker:hover {
    /* height: 50px;
    width: 50px; */
    /* transform: scale(2,2); */
}

app-date-picker input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}